In [ ]:
import mysql.connector

# 连接到服务器A上的数据库
db_server_a = mysql.connector.connect(
  host="120.25.223.26",
  user="root",
  password="26Ukffx1SX>q",
  database="NR_new"
)

# 连接到服务器B上的数据库
db_server_b = mysql.connector.connect(
  host="172.16.234.200",
  user="dg_news",
  password="dg_news",
  database="dg_crawler"
)

# 创建游标对象
cursor_a = db_server_a.cursor()
cursor_b = db_server_b.cursor()

try:
    # 查询dg_clawler.news表中满足时间条件的数据
    query = """
    SELECT 
        news.id, 
        news.title, 
        news.body, 
        news.category1, 
        news.images, 
        news.pub_time, 
        news.website_id,
        website.url
    FROM 
        dg_crawler.news
    JOIN
        common_website.website ON news.website_id = website.id
    WHERE 
        news.pub_time BETWEEN '2024-01-01' AND '2024-04-01' and news.language_id=1779
    """
    cursor_b.execute(query)
    print("1")
    # 遍历查询结果并插入到NR.article表中
    for (id, title, body, category1, images, pub_time, website_id, website_url) in cursor_b:
        # print(len(body))
        # if len(images)>10000:
        #     print(len(images))
        insert_query = """
        INSERT INTO NR_new.Article 
        (art_id, art_title, art_content, art_type, art_image_url, art_time, art_cus_id, website_id, website_url)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        values = (id, title, body, category1, images, pub_time, 582, website_id, website_url)
        cursor_a.execute(insert_query, values)
    print("1")
    # 提交更改
    db_server_a.commit()

    print("数据插入成功")

except mysql.connector.Error as error:
    print(f"数据插入失败: {error}")

finally:
    # 关闭游标和数据库连接
    cursor_a.close()
    cursor_b.close()
    db_server_a.close()
    db_server_b.close()

In [2]:
# NR_new_dev
import mysql.connector

# 连接到服务器A上的数据库
db_server_a = mysql.connector.connect(
  host="120.25.223.26",
  user="root",
  password="26Ukffx1SX>q",
  database="NR_new_dev"
)

# 连接到服务器B上的数据库
db_server_b = mysql.connector.connect(
  host="172.16.234.200",
  user="dg_news",
  password="dg_news",
  database="dg_crawler"
)

# 创建游标对象
cursor_a = db_server_a.cursor()
cursor_b = db_server_b.cursor()

try:
    # 查询dg_clawler.news表中满足时间条件的数据
    query = """
    SELECT 
        news.id, 
        news.title, 
        news.body, 
        news.category1, 
        news.images, 
        news.pub_time, 
        news.website_id,
        website.url
    FROM 
        dg_crawler.news
    JOIN
        common_website.website ON news.website_id = website.id
    WHERE 
        news.pub_time BETWEEN '2024-03-13' AND '2024-03-13' and news.language_id=1779
    """
    cursor_b.execute(query)
    print("1")
    # 遍历查询结果并插入到NR.article表中
    for (id, title, body, category1, images, pub_time, website_id, website_url) in cursor_b:
        # print(len(body))
        # if len(images)>10000:
        #     print(len(images))
        insert_query = """
        INSERT INTO NR_new_dev.Article 
        (art_id, art_title, art_content, art_type, art_image_url, art_time, art_cus_id, website_id, website_url)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        values = (id, title, body, category1, images, pub_time, 582, website_id, website_url)
        cursor_a.execute(insert_query, values)
    print("1")
    # 提交更改
    db_server_a.commit()

    print("数据插入成功")

except mysql.connector.Error as error:
    print(f"数据插入失败: {error}")

finally:
    # 关闭游标和数据库连接
    cursor_a.close()
    cursor_b.close()
    db_server_a.close()
    db_server_b.close()

1
1
数据插入成功

In [2]:
# 查询数据库中2024-03-02 ~ 2024-03-11的数据用于评估
import mysql.connector
import pandas as pd

# 连接数据库
conn = mysql.connector.connect(
  host="172.16.234.200",
  user="dg_news",
  password="dg_news",
  database="dg_crawler"
)

# 执行SQL查询
query = """
    SELECT *
    FROM news
    WHERE pub_time BETWEEN '2024-03-02' AND '2024-03-11' and news.language_id=1779
"""

# 将查询结果存入DataFrame
df = pd.read_sql(query, conn)

# 关闭数据库连接
conn.close()

# 将DataFrame写入CSV文件
df.to_csv("./datasets/news_20240302_20240311.csv", index=False)